<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link th:href='@{https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css}' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" th:href="@{/css/style-edit.css}">
	<title>Katalog Buku</title>
	<link rel = "icon" th:href = "@{/images/logo1.svg}"  type = "image/x-icon">
	
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a th:href="@{/staff/}" class="brand">
			<img th:src="@{/images/logo2.svg}" class='bx'>
			<span class="text" style="color: #ff9f1c;">Staf</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a th:href="@{/staff/}">
					<i class='bx bx-stats'></i>
					<span class="text">Analisis</span>
				</a>
			</li>
			<li class="active">
				<a th:href="@{/staff/katalog}">
					<i class='bx bx-category-alt'></i>
					<span class="text">Katalog</span>
				</a>
			</li>
			<li>
				<a th:href="@{/staff/tabelpeminjaman}">
					<i class='bx bx-edit'></i>
					<span class="text">Peminjaman</span>
				</a>
			</li>
			<li>
				<a th:href="@{/staff/tabelpengembalian}">
					<i class='bx bx-redo'></i>
					<span class="text">Pengembalian</span>
				</a>
			</li>
			<li>
				<a th:href="@{/staff/tabelkeuangan}">
					<i class='bx bx-dollar-circle'></i>
					<span class="text">Keuangan</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a th:href="@{/logout}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a th:href="@{#}" class="profile">
				<i class='bx bx-user-circle'></i>
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN ANALISIS -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Edit Buku</h1>
					<ul class="breadcrumb">
						<li>
							<a th:href="@{/staff/}">Staf</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a th:href="@{/staff/katalog}">Katalog</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" th:href="@{#}">Edit data buku</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="table-data">
				<div class="container">
					<h3 style="text-align: center;">Edit Buku</h3>
					<form method='post' th:object='${book}' th:action="@{/staff/katalog}">
					  <div class="form-group">
						<label for="judul">Judul Buku:</label>
						<input th:field='${book.name}' type="text" id="judul" name="judul">
						  <input th:field='${book.id}' type="hidden" id="id" name="id">
						  <input type="hidden" th:field="${book.createdAt}">
					  </div>
					  <div class="form-group">
						<label for="kategori">Kategori:</label>
						<input th:field='${book.kategori}' type="text" id="kategori" name="kategori">
					  </div>
						<div class="form-group">
							<label for="penerbit">Penerbit:</label>
							<input th:field='${book.penerbit}' type="text" id="penerbit" name="penerbit">
						</div>
					  <div class="form-group">
						<label for="pengarang">Pengarang:</label>
						<input th:field='${book.pengarang}' type="text" id="pengarang" name="pengarang">
					  </div>
					  <div class="form-group">
						<label for="tanggal">Tahun Terbit:</label>
						<input th:field='${book.tahunTerbit}'type="date" id="tanggal" name="tanggal">
					  </div>
					  <div class="form-group">
						<label for="stok">Stok Buku:</label>
						<input th:field='${book.stok}' type="text" id="stok" name="stok">
					  </div>
					  <div class="form-group">
						<label for="lokasirak">Lokasi Rak:</label>
						<input th:field='${book.lokasiRak}' type="text" id="lokasirak" name="lokasirak">
					  </div>
					  <button type="submit">Edit Data Buku</button>
					</form>
				  </div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	  
	<script th:src="@{/js/script.js}"></script>
</body>
</html>