<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link th:href='@{https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css}' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" th:href="@{/css/style-pengembalian.css}">
	<title>Librify</title>
	<link rel = "icon" th:href = "@{/images/logo1.svg}"  type = "image/x-icon">
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a th:href="@{/user/}" class="brand">
			<img th:src="@{/images/logo2.svg}" class='bx'>
			<span class="text" style="color: #ff9f1c;">Librify</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a th:href="@{/user/}">
					<i class='bx bx-home'></i>
					<span class="text">Beranda</span>
				</a>
			</li>
			<li>
				<a th:href="@{/user/katalog}">
					<i class='bx bx-category'></i>
					<span class="text">Katalog</span>
				</a>
			</li>
			<li>
				<a th:href="@{/user/tabelpeminjaman}">
					<i class='bx bx-edit'></i>
					<span class="text">Peminjaman</span>
				</a>
			</li>
			<li class="active">
				<a th:href="@{/user/tabelpengembalian}">
					<i class='bx bx-redo'></i>
					<span class="text">Pengembalian</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a th:href="@{/user/rating}">
					<i class='bx bxs-star' ></i>
					<span class="text">Rate Us!</span>
				</a>
			</li>
			<li>
				<a th:href="@{/logout}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a th:href="@{#}" class="profile">
				<i class='bx bx-user-circle'></i>
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN ANALISIS -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Pengembalian</h1>
					<ul class="breadcrumb">
						<li>
							<a th:href="@{#}"><span th:text="${user.name}"></span></a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" th:href="@{/user/tabelpengembalian/pengembalian}">Form Pengembalian</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="table-data">
				<div class="container">
					<h1>Pengembalian Buku</h1>
					<div class="form-container">
                        <label for="book-title">Judul Buku:</label>
                        <input type="text" id="book-title">
                
                        <label for="borrow-date">Tanggal Peminjaman:</label>
                        <input type="date" id="borrow-date">
                
                        <label for="return-date">Tanggal Pengembalian:</label>
                        <input type="date" id="return-date">
                
                        <button onclick="calculateFine()">Hitung Biaya</button>
                
                        <div id="result"></div>
                    </div> 
                    <script>
                        function calculateFine() {
                            var bookTitle = document.getElementById("book-title").value;
                            var borrowDate = new Date(document.getElementById("borrow-date").value);
                            var returnDate = new Date(document.getElementById("return-date").value);

                            var timeDiff = returnDate.getTime() - borrowDate.getTime();
                            var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));
                            var fineAmount = daysDiff * 2000;

                            var result = document.getElementById("result");
                            result.innerHTML = "Judul Buku: " + bookTitle + "<br>" + "Biaya Pengembalian: " + fineAmount + " Rupiah";
                        }
                    </script>               
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	<script th:src="@{/js/script.js}"></script>
</body>
</html>