<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link th:href='@{https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css}' rel='stylesheet'>
	<!-- My CSS -->
	<link th:href="@{/css/style-katalog.css}" rel="stylesheet" type="text/css">
	<title>Librify</title>
	<link th:href="@{/images/logo1.svg}" rel = "icon" type = "image/x-icon">
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a th:href="@{/user/}" class="brand">
			<img th:src="@{/images/logo2.svg}" class='bx'>
			<span class="text" style="color: #ff9f1c;">Librify</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a th:href="@{/user/}">
					<i class='bx bx-home'></i>
					<span class="text">Beranda</span>
				</a>
			</li>
			<li>
				<a th:href="@{/user/katalog}">
					<i class='bx bx-category'></i>
					<span class="text">Katalog</span>
				</a>
			</li>
			<li>
				<a th:href="@{/user/tabelpeminjaman}">
					<i class='bx bx-edit'></i>
					<span class="text">Peminjaman</span>
				</a>
			</li>
			<li>
				<a th:href="@{/user/tabelpengembalian}">
					<i class='bx bx-redo'></i>
					<span class="text">Pengembalian</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a th:href="@{/user/rating}">
					<i class='bx bxs-star' ></i>
					<span class="text">Rate Us!</span>
				</a>
			</li>
			<li>
				<a th:href="@{/logout}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="profile">
				<i class='bx bx-user-circle'></i>
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN ANALISIS -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Welcome, <span th:text="${user.name}"></span>!</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#"> <span th:text="${user.name}"></span></a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Beranda</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="table-data">
				<div class="todo">
						<h3 style="text-align: center;">Buku yang sedang anda pinjam</h3><br>
					<table>
						<thead>
						<tr>
							<th>Judul Buku</th>
							<th>Pengarang</th>
							<th>Penerbit</th>
							<th>Kategori</th>
							<th>Tahun Terbit</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="peminjaman : ${peminjamans}">
							<td th:text="${peminjaman.book.name}"></td>
							<td th:text="${peminjaman.book.pengarang}"></td>
							<td th:text="${peminjaman.book.penerbit}"></td>
							<td th:text="${peminjaman.book.kategori}"></td>
							<td th:text="${peminjaman.book.tahunTerbit}"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->


	<script th:src="@{/js/script.js}"></script>
</body>
</html>